<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.personal-area}">Личный кабинет</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="~{fragment :: header-empty}"></div>
    <div th:insert="~{fragment:: main-menu}"></div>
    <div>
        <br>
        <div class="row">
            <div class="col-2" th:insert="~{fragment :: profile-menu}"></div>
            <div class="col-10">
                <form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">
                    <label for="email"><span th:text="#{user.email}"></span>
                        <input id="email" type="text" name="email" th:value="*{email}">
                    </label><br>
                    <label for="birthDate"><span th:text="#{user.birthDate}"></span>
                        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
                    </label><br>
                    <label for="name"><span th:text="#{user.name}"></span>
                        <input id="name" type="text" name="name" th:value="*{name}">
                    </label><br>
                    <label for="surname"><span th:text="#{user.surname}"></span>
                        <input id="surname" type="text" name="surname" th:value="*{surname}">
                    </label><br>
                    <label for="patronimic"><span th:text="#{user.patronimic}"></span>
                        <input id="patronimic" type="text" name="patronimic" th:value="*{patronimic}">
                    </label><br>
                    <label for="telephone"><span th:text="#{user.telephone}"></span>
                        <input id="telephone" type="text" name="telephone" th:value="*{telephone}">
                    </label><br>
                    <div th:each="role : ${roles}">
                        <input th:id="${role}" type="radio" name="role" th:value="${role}"
                               th:checked="${role == user.role}">
                        <label th:for="${role}" th:text="${role}">Role name</label>
                    </div>
                    <button type="submit" th:text="#{user.submit.update}">Update</button>
                </form>
                <form th:action="@{/users/{userId}/delete(userId=${user.id})}" th:if="${user.role.name() == 'ADMIN'}"
                      method="post">
                    <button type="submit" th:text="#{user.submit.remove}">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>