<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/dns_shop</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <mapping class="ru.nvkz.entity.Сategory"/>
        <mapping class="ru.nvkz.entity.Product"/>
        <mapping class="ru.nvkz.entity.Property"/>
        <mapping class="ru.nvkz.entity.Storage"/>
        <mapping class="ru.nvkz.entity.User"/>
        <mapping class="ru.nvkz.entity.Order"/>
        <mapping class="ru.nvkz.entity.ProductProperty"/>
        <mapping class="ru.nvkz.entity.ProductStorage"/>
        <mapping class="ru.nvkz.entity.ProductOrder"/>
    </session-factory>
</hibernate-configuration>