<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Catalogs</title>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <h6><span><a href="/catalogs">Каталог</a></span>
            <span th:each="pathElement : ${pathElements}"><a th:if="pathElement.parentId!=null"
                                                             th:href="@{'/catalogs/' + ${pathElement.parentId!=null?pathElement.parentId:pathElement.id}}"
                                                             th:text="|/${pathElement.name}|"></a></span></h6>
    </div>
    <div class="row">
        <div class="col-sm">
            <div th:if="${!catalogs.isEmpty()}" th:each="catalog : ${catalogs}">
                <a th:href="@{'/catalogs/' + ${catalog.id}}" th:text="|${catalog.id}. ${catalog.name}|"></a>
                <br>
            </div>
        </div>
    </div>
    <div th:if="${catalogs.isEmpty()}">
        <br>
        <div class="row">
            <div class="col-sm">
                <form th:action="@{'/catalogs/' + ${parentId}}" th:object="${productFilter}">

                    <label class="font-weight-bold">Цена
                    </label>
                    <div>
                        <input id="priceFrom" name="priceFrom" type="number" th:value="${productFilter.priceFrom}">
                        <input id="priceBy" name="priceBy" type="number" th:value="${productFilter.priceBy}">
                    </div>

                    <br>
                    <label class="font-weight-bold">Производитель
                    </label>
                    <div th:each="producer : ${producers}">
                        <input type="checkbox"
                               th:field="*{produceIds}"
                               th:value="${producer.id}">
                        <label th:text="${producer.name}"></label>
                    </div>

                    <br>
                    <div th:each="property : ${properties}">

                        <label class="font-weight-bold"
                               th:text="|${property.name} ${property.unit!=null?(property.unit):''}|">Property
                            Name(unit)
                        </label>
                        <div th:if="${property.dtype.name=='NUMBER'}"
                             th:with="maxValue=${T(ru.nvkz.util.StreamMapper).mapToMaxIntegerValue(property.propertyValueProductCounts.keySet().stream())}, minValue=${T(ru.nvkz.util.StreamMapper).mapToMinIntegerValue(property.propertyValueProductCounts.keySet().stream())}">
                            <input th:placeholder="'от ' + ${minValue}" th:min="${minValue}" th:max="${maxValue}"
                                   th:field="*{propertyIdPropertyValueNumberFrom['__${property.id}__']}" type="number">
                            <input th:placeholder="'до ' + ${maxValue}" th:min="${minValue}" th:max="${maxValue}"
                                   th:field="*{propertyIdPropertyValueNumberBy['__${property.id}__']}" type="number">

                        </div>
                        <div th:if="${property.dtype.name=='FLOAT'}"
                             th:with="minValue=${T(ru.nvkz.util.StreamMapper).mapToMinDoubleValue(property.propertyValueProductCounts.keySet().stream())},
 maxValue=${T(ru.nvkz.util.StreamMapper).mapToMaxDoubleValue(property.propertyValueProductCounts.keySet().stream())}">

                            <input th:field="*{propertyIdPropertyValueFloatFrom['__${property.id}__']}" type="number"
                                   th:placeholder="'от ' + ${minValue}" th:min="${minValue}" th:max="${maxValue}"
                                   step="0.01">
                            <input th:field="*{propertyIdPropertyValueFloatBy['__${property.id}__']}" type="number"
                                   step="0.01" th:placeholder="'до ' + ${maxValue}" th:min="${minValue}"
                                   th:max="${maxValue}">
                        </div>

                        <div th:if="${property.dtype.name=='TEXT'}">
                            <div th:each="propertyValue : ${property.propertyValueProductCounts}">
                                <input type="checkbox"
                                       th:field="*{propertyIdPropertyValueTextIds['__${property.id}__']}"
                                       th:value="${propertyValue.getKey().id}">
                                <label th:text="|${propertyValue.getKey().value} (${propertyValue.value})|"></label>
                            </div>
                        </div>
                        <br>
                    </div>
                    <button type="submit">Применить</button>
                </form>
            </div>
            <div class="col-sm">
                <div th:each="product : ${products}">
                    <a th:href="@{'/catalogs/product/' + ${product.id}}"
                       th:text="|${product.id}. ${product.name}|">User</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
