<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="~{fragment :: header}"></div>
    <div class="row">
        <div class="col-sm">
            <a th:href="@{/product-properties/create-form(productId=${productRead.id})}">Добавить
                свойство</a>
        </div>
    </div>
    <div style="margin-bottom: 40px; margin-top: 20px;" class="row">
        <h3 th:text="${productRead.name}"></h3>
    </div>
    <div class="row">
        <div class="col-8">
            <img style="width:250px;height:250px;" th:src="@{'/api/v1/products/' + ${productRead.id} + '/image'}"
                 alt="Product image">
        </div>
        <div class="col-2">
            <h5 style="background: rgba(248,248,248,0.4)" th:text="|${productRead.price} РУБ.|"></h5>
        </div>
        <div class="col-2">
            <form th:action="@{/basket-products}" method="post" th:object="${productRead}">
                <input hidden="true"
                       name="productId"
                       type="number"
                       th:value="${productRead.id}">
                <button style="width:150px; height: 50px;  background-color: rgb(255,141,62);  color: white;"
                        class="btn" type="submit">Купить
                </button>
            </form>
        </div>
    </div>
    <div style="margin-top: 40px; margin-bottom: 20px" class="row">
        <h5>Характеристики</h5>
    </div>
    <div class="row">
        <div class="col-sm">
            <form th:action="@{/products/{productId}/update(productId=${productRead.id})}" method="post"
                  th:object="${productRead}">
                <div>
                    <p th:text="|Тип продукта: *{category.name}|"></p>
                    <input hidden="true" id="categoryId" type="number" name="categoryId" th:value="*{category.id}">
                </div>

                <div>
                    <label for="count">Количество:
                        <input id="count" type="number" name="count" th:value="*{count}">
                    </label>
                </div>
                <br>
                <div>
                    <label for="code">Код:
                        <input id="code" type="number" name="code" th:value="*{code}">
                    </label>
                </div>
                <br>
                <div>
                    <label for="model">Модель:
                        <input id="model" type="text" name="model" th:value="*{model}">
                    </label>
                </div>
                <br>
                <div>
                    <label for="price">Цена:
                        <input id="price" type="number" name="price" step="0.01" th:value="*{price}">
                    </label>
                </div>
                <br>
                <div>
                    <label for="producer">Производитель:
                        <select id="producer" name="producerId">
                            <option th:each="producer : ${producers}"
                                    th:value="${producer.id}"
                                    th:selected="${producer.id == productRead.producer.id}"
                                    th:text="${producer.name}"></option>
                        </select>
                    </label>
                </div>
                <br>
                <div th:each="productProperty , itemStat : ${productProperties}">
                    <a class="font-weight-bold"
                       th:href="@{'/product-properties/'+ ${productProperty.id}}"
                       th:text="|${productProperty.property.getName()}|"></a>
                    <div>
                        <input hidden="true"
                               th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].id}"
                               type="text"
                               th:value="${productProperty.id}">
                    </div>
                    <div>
                        <input hidden="true"
                               th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].productId}"
                               type="text"
                               th:value="${productProperty.product.id}">
                    </div>
                    <div>
                        <input hidden="true"
                               th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].propertyId}"
                               type="text"
                               th:value="${productProperty.property.id}">
                    </div>

                    <div th:if="${productProperty.property.dtype.name=='TEXT'}">
                        <input th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].textValue}"
                               type="text"
                               th:value="${productProperty.textValue}">
                    </div>
                    <div th:if="${productProperty.property.dtype.name=='NUMBER'}">

                        <input th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].numberValue}"
                               type="number"
                               th:value="${productProperty.numberValue}">

                    </div>
                    <div th:if="${productProperty.property.dtype.name=='FLOAT'}">

                        <input th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].floatValue}"
                               type="number"
                               th:value="${productProperty.floatValue}"
                               step="0.01">
                    </div>
                    <div th:if="${productProperty.property.dtype.name=='STRING_CLASSIFIER'}">
                        <br>
                        <select th:id="${productProperty.property.id}"
                                th:field="${productCreateEdit.productProperties['__${itemStat.index}__'].stringClassifierId}">
                            <option th:each="stringClassifier: ${propertyIdStringClassifiers.get(productProperty.property.id) }"
                                    th:value="${stringClassifier.id}"
                                    th:text="|${stringClassifier.id}. ${stringClassifier.name}|"></option>
                        </select>
                    </div>
                    <br>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>